@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
	font-family: Poppins;
	color: #032221;
}

.ellipsis-text {
	display: -webkit-box;
	-webkit-line-clamp: 19;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
